/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.submit__button {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

input {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #667085;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #667085;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #667085;
}

.check__mark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

@media only screen and (max-width: 769px) {
  .check__mark {
    top: 5px;
  }
}

input:checked ~ .check__mark {
  border: 2px solid #1570ef;
}

.checkbox__container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__container .check__mark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #1570ef;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox__container input:checked ~ .check__mark:after {
  display: block;
}

.check__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
